*{
    padding: 0;
    margin: 0;
}
.container{
    position: absolute;
    display: block;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;
}
span{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 16px;
}
td{
    border: 1px solid grey;
}
.row,.col{
    text-align: center;
    line-height: 50px;
}
.row{
    position: absolute;
    top: -50px;
    font-size: 0;
}
.col{
    position: absolute;
    display: flex;
    top: 0;
    left: -50px;
    flex-direction: column;
}
table{
    border-collapse: collapse;
    outline: 1px solid black;
    width: 500px;
    height: 500px;
}
.box{
    position: absolute;
    width: 50px;
    height: 50px;

}
.box div{
    position: absolute;
}
.thead{
    width: 50px;
    height: 15px;
    background-color: blue;
}
.tBody{
    top: 15px;
    width: 50px;
    height: 35px;
    background-color: red;
}



